footer {
    position: fixed;
    transform: translateZ(0);
    height: 2em;
    width: 100%;
    z-index: 3;
    background: rgba(0, 0, 0, .45);
    left: 0;
    bottom: 0;
    display: flex;
    align-items: flex-end;
    p {
        color: #FFF;
        margin: auto 1em;
        font-size: .813rem;
        text-align: center;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
    }
}
