// 此變數為框架之整體變數，控制整體網站之設定，包含 顏色、文字、格線系統
// 於mixins 資料夾內，各個模組也有其個別使用的變數，請至個別檔案設定，個別使用變數不含在此設定
$color: #aa5ac5, #5cb85c, #ff981f, #e0717e, #4a93f6, #e2e172, #c8c62b, #d5af12, #de9100, #e24b00, #D51025, #8a0a0b, #947be1, #4730a1, #0202cb, #112e7d, #0e9715, #bb9466, #9d8f84, #739a91, #48a8a8, #a4a4a4, #8f8f8f, #898989, #4b4b4b;

//--------------------------------------------------------------booth color//
$booth-purple:#aa5ac5; //01
$booth-green:#5cb85c; //02
$booth-brown:#ff981f; //03
$booth-pink:#e0717e; //04
$booth-blue:#4a93f6; //05
$booth-yellow1:#e2e172; //06
$booth-yellow2:#c8c62b; //07
$booth-yellow3:#d5af12; //08
$booth-orange1:#de9100; //09
$booth-orange2:#e24b00; //10
$booth-red:#D51025; //11
$booth-soulred:#8a0a0b; //12
$booth-violet1:#947be1; //13
$booth-violet2:#4730a1; //14
$booth-diamondblue:#0202cb; //15
$booth-darkblue:#112e7d; //16
$booth-matchagreen:#0e9715; //17
$booth-earthtone1:#bb9466; //18
$booth-earthtone2:#9d8f84; //19
$booth-morandi:#739a91; //20
$booth-tiffanyblue:#48a8a8; //21
$booth-silver:#a4a4a4; //22
$booth-darksilver:#8f8f8f; //23
$booth-metaldot:#898989; //24
$booth-metalpattern1:#4b4b4b; //25
//-------------------------------------------------------------顏色---------//


// 定義顏色 此顏色可自由變換
$primaryColor: #21baff; //主色
$secondaryColor: #781f79; //輔色
$lightColor: #fcc211; //點綴
$linkColor: #21baff; //連結
$importantColor: #ff3e4d; //重要
// 但注意真實顏色與語意的關聯必須易於辨識
$color-blue: #21baff;$color-green: #5cb85c;$color-orange: #f77810;
$color-red: #ff3e4d;
$color-yellow: #fcc211;
$color-purple: #aa5ac5;
$color-gray: #ccc;
$color-dark: #333333;
$color-hr: #666; //hr顏色
$color-word: #222; //一般字的顏色
// 連結顏色
$aColor: rgb(0, 100, 185); //主色
$aHover: lighten($aColor, 10);
// 色系漸層for 展區
%color_purple {
    background: #4a2562;
    background: -webkit-linear-gradient(145deg, #4a2562, #b475cc);
    background: linear-gradient(145deg, #4a2562, #b475cc);
}
%color_green {
    background: #283c86;
    background: -webkit-linear-gradient(-145deg, #32cf35, #283c86);
    background: linear-gradient(-145deg, #32cf35, #283c86);
}
%color_brown {
    background: #ab511b;
    background: -webkit-linear-gradient(145deg, #e6ad33, #ab511b);
    background: linear-gradient(145deg, #e6ad33, #ab511b);
}
%color_red {
    background: #fc5c7d;
    background: -webkit-linear-gradient(145deg, #6a82fb, #fc5c7d);
    background: linear-gradient(145deg, #6a82fb, #fc5c7d);
}
%color_blue {
    background: #7474bf;
    background: -webkit-linear-gradient(145deg, #348ac7, #7474bf);
    background: linear-gradient(145deg, #348ac7, #7474bf);
}
%d_color_purple {
    background: #5200d8;
    background: -webkit-linear-gradient(-145deg, #5200d8, #aa00ed);
    background: linear-gradient(-145deg, #5200d8, #aa00ed);
}
%d_color_green {
    background: #00717a;
    background: -webkit-linear-gradient(-145deg, #199036, #00717a);
    background: linear-gradient(-145deg, #199036, #00717a);
}
%d_color_brown {
    background: #d35f10;
    background: -webkit-linear-gradient(-145deg, #f39a08, #d35f10);
    background: linear-gradient(-145deg, #f39a08, #d35f10);
}
%d_color_pink {
    background: #f81785;
    background: -webkit-linear-gradient(-145deg, #ff8d7c, #f81785);
    background: linear-gradient(-145deg, #ff8d7c, #f81785);
}
%d_color_blue {
    background: #0028e9;
    background: -webkit-linear-gradient(-145deg, #0099ff, #0028e9);
    background: linear-gradient(-145deg, #0099ff, #0028e9);
}
// 表單focus顏色
$form-focus: #21baff; //表單
$form-btn: #21baff; //表單
//-------------------------------------------------------------字型--------//
// 字型設定
$font-family: Lato, 'PingFang TC', 'Helvetica Neue', Helvetica, 微軟正黑體,
Arial, sans-serif;
$font-size: 1em;
//-------------------------------------------------------------格線系統-----//
// 格線系統
$grid-columns: 12 !default; //格線欄位數
$grid-gutter-width: 30px !default; //左右padding
$container-max: 100% !default; //container最大寬
//mediaquery
$screen-lg: 1400px !default; //電腦
$screen-md: 992px !default; //平板
$screen-sm: 768px !default; //手機
$screen-xs: 576px !default; //極小尺寸
//-------------------------------------------------------------客製化------//
$fatfooter-length: 6; //fatfooter選單一行個數
$fatfooterBgColor: #f1f1f1; //fatFooter 底色
//-------------------------------------------------------------客製化------//
$rounded-angle: 10px; //整站導角
$cubic: cubic-bezier(0.4, 0.01, 0.165, 0.99);
$mukta: 'Ek Mukta', sans-serif;
$menuItems: 8;