.lobby-a {
    background: url(../images/scence-a.jpg) no-repeat bottom center;
    position: relative;
    top: 0;
    left: 50%;
    margin-left: -1506px;
    width: 3012px;
    height: calc(100% - 75px);
    margin-top: 75px;
    position: fixed;
    transform: translateZ(0);
    transition: 1.2s ease-out;
    overflow: hidden;
    @include screen('mobile') {
        margin-top: 0;
    }
    .bg_img {
        position: fixed;
        transform: translateZ(0);
        z-index: -1;
        width: 1920px;
        left: 50%;
        margin-left: -50%;
        img {
            position: absolute;
        }
    }
    .information_desk {
        position: absolute;
        width: 186px;
        height: 108px;
        left: 50%;
        margin-left: -107px;
        bottom: 83px;
        background: #FFF;
        a {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    .left_adbanner {
        position: absolute;
        left: 50%;
        margin-left: -1200px;
        bottom: 212px;
        width: 475px;
        @include aspect-ratio(4, 2.6);
        transform: scale(1, 1) perspective(500px) skew(-2deg, 0deg) rotateX(0deg) rotateY(9deg) rotateZ(2deg) translateY(0%) translateX(0%);
        a {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            overflow:hidden;
            &:hover, &:focus {
                .caption {
                    top: 0;
                    opacity: 1;
                }
            }
        }
        img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .caption {
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;
            background: rgba(0, 0, 0, .75);
            opacity: 0;
            transition: .3s $cubic;
            span {
                color: #FFF;
                font-size: 1.5rem;
                font-weight: bold;
                padding: 1em;
                line-height: 1.45em;
            }
        }
    }
    .right_adbanner {
        position: absolute;
        left: 50%;
        margin-left: 705px;
        bottom: 216px;
        width: 475px;
        @include aspect-ratio(4, 2.6);
        transform: scale(1, 1.03) perspective(500px) skew(4deg, -1deg) rotateX(0deg) rotateY(-9deg) rotateZ(-1deg) translateY(0%) translateX(0%);
        a {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
             &:hover, &:focus {
                .caption {
                    top: 0;
                    opacity: 1;
                }
            }
        }
        img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .caption {
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;
            background: rgba(0, 0, 0, .75);
            opacity: 0;
            transition: .3s $cubic;
            span {
                color: #FFF;
                font-size: 1.5rem;
                font-weight: bold;
                padding: 1em;
                line-height: 1.45em;
            }
        }
    }
    .banner {
        position: absolute;
        width: 1100px;
        left: 50%;
        top: 0;
        margin-left: -550px;
        display: flex;
        justify-content: center;
        .item {
            &:first-child {
                .title {
                    @include gradient(#2c89a8, #3fc9be, horizontal);
                }
            }
            &:nth-child(2) {
                .title {
                    @include gradient(#e05a00, #e9be00, horizontal);
                }
            }
            &:nth-child(3) {
                .title {
                    @include gradient(#4d8300, #87b000, horizontal);
                }
            }
        }
        [class^="item"] {
            width: calc(30% - 2em);
            flex-basis: calc(30% - 2em);
            margin: 0 1em;
            position: relative;
            display: block;
            background: #111;
            padding-bottom: 3em;
            box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, .5);
            overflow: hidden;
            a {
                width: 100%;
                display: block;
                @include aspect-ratio(4, 3);
                box-shadow: 0px 5px 5px rgba(0, 0, 0, .25);
                &:hover, &:focus {
                    .caption {
                        top: 0;
                        opacity: 1;
                    }
                }
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                .caption {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    padding-bottom: 2em;
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    align-items: center;
                    background: rgba(0, 0, 0, .75);
                    opacity: 0;
                    transition: .3s $cubic;
                    span {
                        color: #FFF;
                        font-size: 1.5rem;
                        font-weight: bold;
                        padding: 1em;
                        line-height: 1.45em;
                    }
                }
            }
            .iframeBlock {
                width: 100%;
                top: 0;
                left: 0;
                position: relative;
                @include aspect-ratio(4, 3);
                box-shadow: 0px 5px 5px rgba(0, 0, 0, .25);
                iframe {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                }
            }
            .title {
                background: #000;
                position: absolute;
                height: 3em;
                color: #FFF;
                bottom: 0;
                left: 0;
                width: 100%;
                padding: .5em 1em;
                @include text-overflow;
                span {
                    display: block;
                    font-size: 1.5em;
                    line-height: 1.5;
                    font-weight: bold;
                    text-shadow: 1px 1px 2px rgba(0, 0, 0, .75);
                }
            }
        }
    }
}
.audio {
    position: fixed;
    transform: translateZ(0);
    bottom: 2.5em;
    right: 1em;
    width: 3em;
    height: 1.5em;
    z-index: 3;
    a {
        display: block;
        width: 100%;
        height: 1.5em;
        border-radius: .25rem;
        &.on {
            background: url(../images/music_off.svg) no-repeat center center rgba(0, 0, 0, .65);
            background-size: 1.25em;
            &:hover, &:focus {
                background: url(../images/music_off.svg) no-repeat center center $aHover;
                background-size: 1.25em;
            }
        }
        &.off {
            background: url(../images/music_on.svg) no-repeat center center rgba(0, 0, 0, .65);
            background-size: 1.25em;
            &:hover, &:focus {
                background: url(../images/music_on.svg) no-repeat center center $aHover;
                background-size: 1.25em;
            }
        }
    }
}
