.booth {
    display: block;
    position: fixed;
    transform: translateZ(0);
    width: 100%;
    height: calc(100% - 75px);
    margin-top: 75px;
    top: 0;
    left: 0;
    padding: 1em;
    @include screen('mobile') {
        height: calc(100% - 60px);
        margin-top: 60px;
    }
    &.style_a {
        background: url(../images/showground_a_bg.jpg) no-repeat center bottom;
        background-size: cover;
        .booth_content {
            width: 900px;
            height: 692px;
            background: url(../images/booth_a.png) no-repeat center center;
            background-size: contain;
            position: absolute;
            bottom: 60px;
            left: 50%;
            margin-left: -440px;
            transition: .3s ease-out;
            @media screen and (max-height: 850px) {
                transform: scale(.9);
                bottom:-50px;
            }
            @media screen and (max-height: 750px) {
                transform: scale(.8);
                bbottom:-100px;
            }
        }
        .company_logo {
            position: absolute;
            width: 420px;
            height: 100px;
            top: 8%;
            left: 30%;
            img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: contain;
                margin: auto;
            }
        }
        .youtube {
            position: absolute;
            width: 118px;
            height: 72px;
            top: 296px;
            left: 159px;
            iframe {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
            }
        }
        .product {
            position: absolute;
            width: 500px;
            height: 200px;
            top: 286px;
            left: 32%;
            [class^="item"] {
                width: 80px;
                height: 120px;
                position: absolute;
                img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    object-fit: cover;
                }
                .hasWhat{
                	position: absolute;
                	width: 100%;
                	bottom:0em;
                	left: 0;
                	height: 2em;
                	display:flex;
                	justify-content: flex-end;
                	.has_720{
                		flex-basis: 48%;
                		margin: 0 1%;
                		background:rgba(0,0,0,.5);
                		border-radius: .25rem;
                		img{
                			position: relative;
                			width: 100%;
                			height: 100%;

                		}

                	}
                	.has_360{
                		flex-basis: 48%;
                		margin: 0 1%;
                		background:rgba(0,0,0,.5);
                			border-radius: .25rem;

                		img{
                			position: relative;
                			width: 100%;
                			height: 100%;
                		}

                	}
                }
                &:before {
                    position: absolute;
                    width: 1em;
                    height: 1em;
                    border-radius: 50%;
                    background: #1de3ef;
                    border:2px solid #FFF;
                    left: 50%;
                    margin-left: -.5em;
                    content: "";
                    z-index: 2;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                    transition: 250ms color;
                    -webkit-transition: 250ms color;
                    -moz-transition: 250ms color;
                    -ms-transition: 250ms color;
                    -o-transition: 250ms color;
                    animation-name: wave;
                    animation-duration: 1s;
                    animation-timing-function: linear;
                    animation-iteration-count: infinite;
                }
                a {
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    border: 2px solid #FFF;
                    &:hover, &:focus {
                        box-shadow: 0px 0px 20px #1de3ef, 0px 0px 10px #1de3ef, 0px 0px 5px #FFF;
                    }
                }
            }
            .item_01 {
                top: 16px;
                left: 35px;
            }
            .item_02 {
                top: 16px;
                left: 123px;
            }
            .item_03 {
                top: 16px;
                left: 211px;
            }
            .item_04 {
                top: 16px;
                left: 298px;
            }
            .item_05 {
                top: 15px;
                left: 398px;
                width: 82px;
                height: 144px;
            }
        }
        // function
        .function {
            position: absolute;
            right: 0px;
            top: 50px;
            height: auto;
            width: 60px;
            z-index:99;
            .item {
                display: block;
                height: 60px;
                width: 60px;
                margin-bottom: 1em;
                a {
                    display: block;
                    width: 60px;
                    height: 60px;
                    background: #FFF;
                    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
                    border-radius: 50%;
                    border: 5px solid #1de3ef;
                    position: relative;
                    &:hover, &:focus {
                        box-shadow: 0px 0px 30px #1de3ef, 0px 0px 20px #1de3ef, 0px 0px 10px #1de3ef;
                        .title {
                            display: block;
                            opacity: 1;
                            right: 60px;
                        }
                    }
                    .title {
                        display: block;
                        padding: .25em;
                        border-radius: .25rem;
                        background: rgba(0, 0, 0, .75);
                        color: #FFF;
                        text-align: center;
                        right: 70px;
                        top: 10px;
                        position: absolute;
                        white-space: nowrap;
                        font-size: .938rem;
                        font-weight: bold;
                        min-width: 6em;
                        opacity: 0;
                        transition: .3s $cubic;
                        pointer-events: none;
                    }
                    img {
                        width: 72%;
                        height: 72%;
                        margin: 14%;
                        opacity: .75
                    }
                }
            }
        }
    }
}
.booth_company {
    max-width: 600px;
    padding: 1em 2em 5em;
    h1, h2 {
        line-height: 1.25em;
        margin: 0;
        padding: .5em 0 0 0;
    }
    img {
        max-width: 100%;
    }
    p {
        color: #555;
        line-height: 1.75em;
    }
}
.booth_product {
    max-width: 100%;
    padding: 0em 2em;
    h1, h2 {
        line-height: 1.25em;
        margin: 0;
        padding: .5em 0 0 0;
    }
    .product_content {
        display: flex;
        justify-content: center;
        @include screen('xs_mobile') {
            flex-flow: row wrap;
        }
        .Syncing_slider {
            flex-basis: 40%;
            min-width: 400px;
            margin: 0 1em 1em 0;
            .slick-slide {
                &:hover, &:focus {
                    box-shadow: none;
                }
            }
            .controls {
                display: none !important;
            }
            @include screen('xs_mobile') {
                flex-basis: 100%;
                margin: 0 auto 1em auto;
                padding-right: 0;
                min-width: 320px;
            }
            .Slider-for {
                width: 100%;
                margin: 0;
                outline: 1px solid #DDD;
                .img-container {
                    width: 100%;
                    margin: 0;
                    @include aspect-ratio(4, 3);
                }
            }
            .Slider-nav {
                width: 100%;
                margin: 0;
                border: 1px solid #DDD;
                .slick-slide {
                    outline: 1px solid #DDD;
                }
                &:hover {
                    .slick-prev, .slick-next {
                        opacity: 1;
                    }
                }
                .slick-prev {
                    left: 0;
                    opacity: 0;
                    background: url(../vendor/slick/icon_arrow_left.png) center center no-repeat rgba(0, 0, 0, .25);
                    background-size: 80%;
                    transition: .3s ease-out;
                    &:hover, &:focus {
                        background: url(../vendor/slick/icon_arrow_left.png) center center no-repeat rgba(0, 0, 0, .5);
                        background-size: 80%;
                        box-shadow: none;
                        outline: none;
                    }
                }
                .slick-next {
                    right: 0;
                    opacity: 0;
                    background: url(../vendor/slick/icon_arrow_right.png) center center no-repeat rgba(0, 0, 0, .25);
                    background-size: 80%;
                    transition: .3s ease-out;
                    &:hover, &:focus {
                        background: url(../vendor/slick/icon_arrow_right.png) center center no-repeat rgba(0, 0, 0, .5);
                        background-size: 80%;
                        box-shadow: none;
                        outline: none;
                    }
                }
                .img-container {
                    width: 100%;
                    margin: 0;
                    min-width: auto;
                    @include aspect-ratio(4, 3);
                    &.youtube {
                        &:after {
                            position: absolute;
                            width: 48px;
                            height: 48px;
                            border-radius: 50%;
                            content: "";
                            left: 50%;
                            margin-left: -24px;
                            top: 25%;
                            opacity: .85;
                            background: url(../images/play.png) no-repeat center center;
                        }
                    }
                }
            }
        }
        .profuct_info {
            flex-basis: 20%;
            flex-shrink: 1;
            flex: 1 1 auto;
            padding: 0em 1em;
            h3 {
                margin: 0 0 .5em 0;
                padding: 0;
                color: $primaryColor;
            }
            p {
                color: #555;
                line-height: 1.75em;
            }
            @include screen('xs_mobile') {
                border-top: 1px solid #DDD;
                padding-top: 1em;
                padding-bottom: 5em;
            }
        }
    }
}

// fancy iframe
.fancybox-slide--iframe .fancybox-content {
    width: 1200px;
    height: 732px;
    max-width: 90%;
    max-height: 90%;
    margin: 0;
}
// ripple animation
@keyframes wave {
    0% {
        box-shadow: 0 0 0px 0px rgba(29, 227, 239, 1);
    }
    100% {
        box-shadow: 0 0 0px 15px rgba(29, 227, 239, 0);
    }
}
