@keyframes showItem_ani {
    from {
        transform: translateZ(0) translate(1000px, -200px);
    }
    to {
        transform: translateZ(0) translate(100px, 100px);
    }
}
.showground {
    display: block;
    position: fixed;
    transform: translateZ(0);
    width: 100%;
    height: calc(100% - 75px);
    margin-top: 75px;
    top: 0;
    left: 0;
    @include screen('xs_mobile') {
        position: relative;
        height: auto;
        margin-top: 0 !important;
    }
    .img_bg, .bg_img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .container {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        padding: 5% 0 1em;
        z-index: 1;
        @include screen('xs_mobile') {
            padding-top: 4em;
            position: relative;
            margin-top: 0 !important;
        }
    }
    @include screen('mobile') {
        height: calc(100% - 60px);
        margin-top: 60px;
    }
    .back {
        position: absolute;
        right: 1em;
        top: 1em;
        height: 3em;
        line-height: 3em;
        font-size: 1rem;
        width: 6em;
        padding: 0;
        text-align: center;
        background: rgba(0, 0, 0, .4);
        color: #FFF;
        z-index: 9999;
        &:hover, &:focus {
            background: rgba(0, 0, 0, .8);
        }

    }
    h2 {
        width: 90%;
        margin: 0 auto .25em;
        font-size: 3.75rem;
        font-weight: bold;
        text-align: center;
        position: relative;
        color: #FFF;
        @include screen('xs_mobile') {
            font-size: 2.75rem;
        }
    }
    &.style_A {
        .back{
            @media screen and (orientation: landscape) and (min-height:550px) and (max-height:768px){
                right: 2em;
                top:2em;
            }
        }
        &:before {
            position: absolute;
            width: 80%;
            height: 80%;
            background: rgba(0, 0, 0, .35);
            left: 10%;
            top: 10%;
            content: "";
            @include screen('xs_mobile') {
                display: none;
            }
        }
        .container{
            @media screen and (orientation: landscape) and (min-height:550px) and (max-height:768px){
                transform:scale(.85);
            }
        }
        h2 {
            color: #FFF;
            position: absolute;
            left: 12%;
            top: 11%;
            width: 80%;
            text-align: left;
            @include screen('xs_mobile') {
                position: relative;
                text-align: center;
                left: 0;
                top: 0;
                margin: 0 auto .5em;
            }
        }
        .showground_content {
            z-index: 2;
            width: 2000px;
            position: absolute;
            // transform: translateZ(0) translate(1000px, -200px);
            transition: 1.2s ease-out;
            left: 0;
            top: 0;
            height: 100%;
            outline: none;
            // animation: showItem_ani 3s cubic-bezier(0.12, 0.87, 0.07, 1.03) 0.5s 1;
            @include screen('xs_mobile') {
                position: relative;
                transition: none;
                height: auto;
                display: flex;
                flex-flow: row wrap;
                padding: 0 1em;
                width: 100% !important;
            }
        }
        .show_item {
            position: absolute;
            left: 400px;
            top: 50px;
            background: url(../images/showground/item_a_bg.png) no-repeat center bottom;
            background-size: 100%;
            @media screen and (min-width: 546px) {
                width: 250px;
                height: 200px;
            }
            @include screen('xs_mobile') {
                flex: 0 1 auto;
                background: rgba(0, 0, 0, .5) !important;
                flex-basis: 45%;
                left: 0 !important;
                top: 0 !important;
                border-radius: .25em;
                position: relative !important;
                max-width: 80%;
                margin: 0 .4em 1em;
                width: auto;
                min-height: 200px;
                min-width: 40%;
                justify-content: flex-start;
            }
            a {
                position: absolute;
                width: 80%;
                height: 60%;
                top: 20%;
                left: 10%;
                @include screen('xs_mobile') {
                    position: relative;
                    top: 0;
                    left: 0;
                    margin: 0 auto 1em;
                    width: 100%;
                    height: auto;
                    display: flex;
                    flex-flow: row wrap;
                }
                &:hover {
                    z-index: 99;
                    .title {
                        opacity: 1;
                        transform: scaleX(1);
                        &:before {
                            height: 140px;
                        }
                    }
                }
                img {
                    position: absolute;
                    width: 100px;
                    height: 70px;
                    top: 0px;
                    left: 0;
                    transform: rotate(30deg) skew(-30deg, -1deg) translateX(49px) translateY(-8px);
                    @include screen('xs_mobile') {
                        transform: none;
                        margin: 1em auto;
                        width: 100px;
                        height: 100px;
                        position: relative;
                    }
                }
                .title {
                    display: block;
                    width: auto;
                    padding: .5em;
                    font-size: 1.125rem;
                    background: rgba(0, 0, 0, .75);
                    color: #FFF;
                    position: absolute;
                    top: -80px;
                    left: 30px;
                    pointer-events: none;
                    opacity: 0;
                    transition: .3s $cubic;
                    width: 8em;
                    transform: scaleX(0);
                    transform-origin: top left;
                    @include screen('xs_mobile') {
                        display: block;
                        transition: none;
                        top: 0;
                        left: 0;
                        position: relative;
                        width: 100%;
                        text-align: left;
                        opacity: 1;
                        transform: none;
                        background: none;
                        text-align: center;
                        font-size: 1em;
                    }
                    // white-space: nowrap;
                    &:before {
                        position: absolute;
                        content: "";
                        top: 0;
                        left: 0;
                        height: 0px;
                        border-left: 1px solid rgba(0, 0, 0, .75);
                        transition: .3s .3s $cubic;
                        @include screen('xs_mobile') {
                            display: none;
                        }
                    }
                }
            }
            &.item_01 {
                left: 200px;
                top: 220px;
            }
            &.item_02 {
                left: 370px;
                top: 320px;
            }
            &.item_03 {
                left: 540px;
                top: 420px;
            }
            &.item_04 {
                left: 370px;
                top: 120px;
            }
            &.item_05 {
                left: 540px;
                top: 220px;
            }
            &.item_06 {
                left: 710px;
                top: 320px;
            }
            &.item_07 {
                left: 540px;
                top: 20px;
            }
            &.item_08 {
                left: 710px;
                top: 120px;
            }
            &.item_09 {
                left: 880px;
                top: 220px;
            }
            &.item_10 {
                left: 880px;
                top: 20px;
            }
            &.item_11 {
                left: 1050px;
                top: 120px;
            }
            &.item_12 {
                left: 710px;
                top: 520px;
            }
            &.item_13 {
                left: 880px;
                top: 420px;
            }
            &.item_14 {
                left: 1050px;
                top: 320px;
            }
            &.item_15 {
                left: 1220px;
                top: 220px;
            }
        }
        &.color_purple {
            .show_item {
                background: url(../images/showground/item_a_bg.png) no-repeat center bottom;
                background-size: 100%;
            }
            @extend %color_purple;
        }
        &.color_green {
            .show_item {
                background: url(../images/showground/item_b_bg.png) no-repeat center bottom;
                background-size: 100%;
                @include screen('xs_mobile') {
                    background: rgb(255, 255, 255) !important;
                    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(225, 225, 225, 1) 100%) !important;
                    a {
                        .title{
                            color: #555;
                        }
                    }
                }
            }
            @extend %color_green;
        }
        &.color_brown {
            .show_item {
                background: url(../images/showground/item_b_bg.png) no-repeat center bottom;
                background-size: 100%;
                @include screen('xs_mobile') {
                    background: rgb(255, 255, 255) !important;
                    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(225, 225, 225, 1) 100%) !important;
                    a {
                        .title{
                            color: #555;
                        }
                    }
                }
            }
            @extend %color_brown;
        }
        &.color_red ,&.color_pink{
            .show_item {
                background: url(../images/showground/item_b_bg.png) no-repeat center bottom;
                background-size: 100%;
                @include screen('xs_mobile') {
                    background: rgb(255, 255, 255) !important;
                    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(225, 225, 225, 1) 100%) !important;
                    a {
                        .title{
                            color: #555;
                        }
                    }
                }
            }
            @extend %color_red;
        }
        &.color_blue {
            .show_item {
                background: url(../images/showground/item_b_bg.png) no-repeat center bottom;
                background-size: 100%;
                @include screen('xs_mobile') {
                    background: rgb(255, 255, 255) !important;
                    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(225, 225, 225, 1) 100%) !important;
                    a {
                        .title{
                            color: #555;
                        }
                    }
                }
            }
            @extend %color_blue;
        }
    }
    &.style_B {
        .bg_img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 0;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        h2 {
            text-align: center;
            position: relative;
            z-index: 2;
        }
        .showgroundSlider {
            display: block;
            max-width: 1200px;
            width: 90%;
            margin: 3em auto 0;
            padding: 0 2.5em 2em;
            overflow: hidden;
            position: relative;
            z-index: 1;
            @include screen('tablet') {
                width: 100%;
                margin: 0;
            }
            @include screen('xs_mobile') {
                margin: 0;
            }
            .slick-prev {
                left: -45px;
                background: url(../vendor/slick/icon_arrow_left.png) center center no-repeat RGBA(0, 0, 0, 0);
                background-size: 30px 30px;
                &:hover, &:focus {
                    background: url(../vendor/slick/icon_arrow_left.png) center center no-repeat RGBA(0, 0, 0, .5);
                    background-size: 30px 30px;
                    box-shadow: none;
                }
                @include screen('mobile') {
                    left: 2%;
                }
            }
            .slick-next {
                right: -45px;
                background: url(../vendor/slick/icon_arrow_right.png) center center no-repeat RGBA(0, 0, 0, 0);
                background-size: 30px 30px;
                &:hover, &:focus {
                    background: url(../vendor/slick/icon_arrow_right.png) center center no-repeat RGBA(0, 0, 0, .5);
                    background-size: 30px 30px;
                    box-shadow: none;
                }
                @include screen('mobile') {
                    right: 2%;
                }
            }
            &:hover {
                .slick-prev {
                    left: 5px;
                    @include screen('mobile') {
                        left: 2%;
                    }
                }
                .slick-next {
                    right: 5px;
                    @include screen('mobile') {
                        right: 2%;
                    }
                }
            }
            .item {
                margin: 1em 1em 2em;
                border-radius: .5em;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px, rgba(0, 0, 0, 0.2) 0px 15px 12px;
                .img-container {
                    border-radius: .5em .5em 0 0;
                    img {
                        transition: .3s ease-out;
                        object-fit: cover;
                    }
                    .title {
                        color: #FFF;
                    }
                    &:after {
                        content: "";
                        bottom: 0px;
                        left: 0;
                        position: absolute;
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 20px 0 0 350px;
                        transition: .3s ease-out;
                        border-color: transparent transparent transparent #FFF;
                    }
                }
                &:hover {
                    outline: none;
                    border: none;
                    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 10px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
                    .img-container {
                        img {
                            transform: scale(1.1);
                        }
                    }
                }
                a {
                    outline: none;
                    border: none;
                    background: #FFF;
                    &:hover, &:focus {
                        .title {
                            background: #333;
                            color: #FFF;
                        }
                    }
                }
            }
            .title {
                min-height: 10rem;
                padding: 1em;
                overflow: hidden;
                background: #FFF;
                border-radius: 0 0 .5em .5em;
                transition: .3s ease-out;
                position: relative;
                transform:translate(0px,-3px);
                h3 {
                    margin: 0;
                    line-height: 1.45;
                }
            }
            a {
                color: #FFF;
            }
        }
        @for $i from 1 through 5 {
            &.color_#{$i} {
                // background: darken(nth($color, $i), 15);
                // background: linear-gradient(145deg, adjust_hue(saturate(lighten(nth($color, $i), 20), 31), 0)  0%, adjust_hue(saturate(darken(nth($color, $i), 31), 31), 0) 100%);
                .showgroundSlider {
                    .item {
                        .img-container {
                            &:after {
                                border-color: transparent transparent transparent darken(nth($color, $i), 25);
                            }
                        }
                        .title {
                            background: darken(nth($color, $i), 25);
                        }
                        &:hover, &:focus {
                            .img-container {
                                &:after {
                                    border-color: transparent transparent transparent darken(nth($color, $i), 20);
                                }
                            }
                            .title {
                                background: darken(nth($color, $i), 20);
                            }
                        }
                    }
                }
            }
        }
        &.color_purple {
            @extend %color_purple;
            .showgroundSlider {
                .item {
                    .img-container {
                        &:after {
                            border-color: transparent transparent transparent darken(nth($color, 1), 25);
                        }
                    }
                    .title {
                        background: darken(nth($color, 1), 25);
                    }
                    &:hover, &:focus {
                        .img-container {
                            &:after {
                                border-color: transparent transparent transparent darken(nth($color, 1), 20);
                            }
                        }
                        .title {
                            background: darken(nth($color, 1), 20);
                        }
                    }
                }
            }
        }
        &.color_green {
            @extend %color_green;
            .showgroundSlider {
                .item {
                    .img-container {
                        &:after {
                            border-color: transparent transparent transparent darken(nth($color, 2), 25);
                        }
                    }
                    .title {
                        background: darken(nth($color, 2), 25);
                    }
                    &:hover, &:focus {
                        .img-container {
                            &:after {
                                border-color: transparent transparent transparent darken(nth($color, 2), 20);
                            }
                        }
                        .title {
                            background: darken(nth($color, 2), 20);
                        }
                    }
                }
            }
        }
        &.color_brown {
            @extend %color_brown;
            .showgroundSlider {
                .item {
                    .img-container {
                        &:after {
                            border-color: transparent transparent transparent darken(nth($color, 3), 25);
                        }
                    }
                    .title {
                        background: darken(nth($color, 3), 25);
                    }
                    &:hover, &:focus {
                        .img-container {
                            &:after {
                                border-color: transparent transparent transparent darken(nth($color, 3), 20);
                            }
                        }
                        .title {
                            background: darken(nth($color, 3), 20);
                        }
                    }
                }
            }
        }
        &.color_red ,&.color_pink{
            @extend %color_red;
            .showgroundSlider {
                .item {
                    .img-container {
                        &:after {
                            border-color: transparent transparent transparent darken(nth($color, 4), 25);
                        }
                    }
                    .title {
                        background: darken(nth($color, 4), 25);
                    }
                    &:hover, &:focus {
                        .img-container {
                            &:after {
                                border-color: transparent transparent transparent darken(nth($color, 4), 20);
                            }
                        }
                        .title {
                            background: darken(nth($color, 4), 20);
                        }
                    }
                }
            }
        }
        &.color_blue {
            @extend %color_blue;
            .showgroundSlider {
                .item {
                    .img-container {
                        &:after {
                            border-color: transparent transparent transparent darken(nth($color, 5), 25);
                        }
                    }
                    .title {
                        background: darken(nth($color, 5), 25);
                    }
                    &:hover, &:focus {
                        .img-container {
                            &:after {
                                border-color: transparent transparent transparent darken(nth($color, 5), 20);
                            }
                        }
                        .title {
                            background: darken(nth($color, 5), 20);
                        }
                    }
                }
            }
        }
    }
    &.style_C {
        &.color_purple {
            @extend %color_purple;
        }
        &.color_green {
            @extend %color_green;
        }
        &.color_brown {
            @extend %color_brown;
        }
        &.color_red ,&.color_pink{
            @extend %color_red;
        }
        &.color_blue {
            @extend %color_blue;
        }
    }
}
