.lobby-b {
    position: relative;
    top: 0;
    left: 50%;
    margin-left: -1350px;
    width: 2700px;
    height: calc(100% - 75px);
    margin-top: 75px;
    position: fixed;
    transform: translateZ(0);
    transition: 1.2s ease-out;
    overflow: hidden;
    &:before {
        position: absolute;
        background: url(../images/scence-b-new.jpg) no-repeat center bottom;
        background-size: 100% auto;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        content: "";
    }
    @include screen('mobile') {
        margin-top: 0;
    }
    .information_button {
        position: absolute;
        width: 1em;
        height: 1em;
        border-radius: 50%;
        background: #1de3ef;
        border: 2px solid #FFF;
        left: 50%;
        margin-left: 550px;
        bottom: 6em;
        content: "";
        z-index: 2;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        transition: 250ms color;
        -webkit-transition: 250ms color;
        -moz-transition: 250ms color;
        -ms-transition: 250ms color;
        -o-transition: 250ms color;
        animation-name: wave;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        &:hover {
            .title {
                display: block;
                opacity: 1;
                right: 20px;
            }
        }
        .title {
            display: block;
            padding: .25em .5em;
            border-radius: .25rem;
            background: rgba(0, 0, 0, .75);
            color: #FFF;
            text-align: center;
            right: 40px;
            top: -30px;
            position: absolute;
            white-space: nowrap;
            font-size: 1rem;
            font-weight: bold;
            min-width: 6em;
            opacity: 0;
            transition: .3s $cubic;
            pointer-events: none;
        }
    }
    .information_desk {
        position: absolute;
        width: 218px;
        height: 113px;
        display: none;
        left: 50%;
        margin-left: -109px;
        bottom: 71px;
        background: #FFF;
        a {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    .banner {
        position: absolute;
        width: 1100px;
        left: 50%;
        bottom: 48%;
        min-height: 450px;
        margin-left: -550px;
        transform: scale(.9) translateX(55px);
        overflow: hidden;
        @media screen and (max-height: 900px) {
            bottom: 42%;
            transform: scale(.9) translateX(55px);
        }
        @media screen and (max-height:800px) {
            bottom: 40%;
            transform: scale(.8) translateX(55px);
        }
        @media screen and (max-width:1024px) {
            transform: scale(.8);
        }
        .slider {
            position: absolute;
            width: 100%;
            left: 0;
            top: 0;
            @include aspect-ratio(16, 9);
        }
        .slick-list {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 9;
        }
        .slide {
            width: 100%;
            position: absolute;
            @include aspect-ratio(16, 9);
        }
        [class^="item"] {
            width: 33.3333%;
            position: absolute;
            @include aspect-ratio(16, 9);
            background: #111;
            a {
                position: absolute;
                width: 100%;
                height: 100%;
                &:hover, {
                    .caption {
                        top: 0;
                        opacity: 1;
                    }
                }
                img {
                    object-fit: cover;
                }
                .caption {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    align-items: center;
                    background: rgba(0, 0, 0, .75);
                    top: 100%;
                    opacity: 0;
                    transition: .3s $cubic;
                    span {
                        color: #FFF;
                        font-size: 1.5rem;
                        font-weight: bold;
                        padding: 1em;
                        line-height: 1.45em;
                    }
                }
            }
            .iframeBlock {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                iframe {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                }
            }
        }
        &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background: url(../images/line.png) no-repeat center center;
            background-size: contain;
            display: none;
        }
        .item_1 {
            left: 0;
            top: 0;
        }
        .item_2 {
            left: 33%;
            top: -1%;
        }
        .item_3 {
            left: 66%;
            top: 0;
        }
        .item_4 {
            left: 0;
            top: 50%;
        }
        .item_5 {
            left: 33%;
            top: 50%;
        }
        .item_6 {
            left: 66%;
            top: 50%;
        }
        .item_1 {
            /* perspective: 200px; */
            perspective-origin: 50%, 50%;
            transform: scale(.9, .85) perspective(500px) skew(4deg, -16deg) rotateX(7deg) rotateY(-28deg) translateY(22%) translateX(-12%);
        }
        .item_2 {
            perspective-origin: 0%, 0%;
            transform: perspective(400px) scale(1.1, 1) rotateX(-2deg);
        }
        .item_3 {
            perspective-origin: 50%, 50%;
            transform: scale(.9, .85) perspective(500px) skew(-3deg, 16deg) rotateX(7deg) rotateY(28deg) rotateZ(1deg) translateY(22%) translateX(12%);
        }
        .item_4 {
            perspective-origin: 0%, 0%;
            transform: scale(.96, .8) perspective(1000px) skew(5deg, -8deg) rotateX(2deg) rotateY(-35deg) rotateZ(0deg) translateY(11%) translateX(-2%);
        }
        .item_5 {
            perspective-origin: 0%, 0%;
            transform: scale(1, .9) perspective(500px) rotateX(-5deg);
        }
        .item_6 {
            perspective-origin: 0%, 0%;
            transform: scale(.96, .8) perspective(1000px) skew(-5deg, 8deg) rotateX(4deg) rotateY(35deg) rotateZ(-1deg) translateY(11%) translateX(2%);
        }
        .item_1, .item_4 {
            box-shadow: 2px 1px 0px 2px rgba(0, 0, 0, 1);
        }
        .item_2, .item_5 {
            box-shadow: 0px 2px 0px 2px rgba(0, 0, 0, 1);
        }
        .item_3, .item_6 {
            box-shadow: -2px 1px 0px 2px rgba(0, 0, 0, 1);
        }
    }
    .banner_2f_left {
        position: absolute;
        left: 50%;
        margin-left: -832px;
        bottom: 293px;
        width: 245px;
        @include aspect-ratio(3, 1.28);
        transform-origin: center center;
        transform: scale(1, 1) perspective(500px) skew(1deg, 0deg) rotateX(0deg) rotateY(9deg) rotateZ(3deg) translateY(4px) translateX(0%);
        box-shadow: -2px 2px 0px 2px #222;
        a {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            overflow: hidden;
            &:hover, &:focus {
                .caption {
                    top: 0;
                    opacity: 1;
                }
            }
        }
        img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .caption {
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;
            background: rgba(0, 0, 0, .75);
            opacity: 0;
            transition: .3s $cubic;
            span {
                color: #FFF;
                font-size: 1.5rem;
                font-weight: bold;
                padding: 1em;
                line-height: 1.45em;
            }
        }
    }
    .banner_2f_right {
        position: absolute;
        left: 50%;
        margin-left: 723px;
        bottom: 293px;
        width: 245px;
        @include aspect-ratio(3, 1.28);
        transform-origin: center center;
        transform: scale(1, 1.03) perspective(500px) skew(3deg, -1deg) rotateX(9deg) rotateY(-9deg) rotateZ(-1deg) translateY(0%) translateX(0%);
        box-shadow: 2px 2px 0px 2px #222;
        a {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            &:hover, &:focus {
                .caption {
                    top: 0;
                    opacity: 1;
                }
            }
        }
        img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .caption {
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;
            background: rgba(0, 0, 0, .75);
            opacity: 0;
            transition: .3s $cubic;
            span {
                color: #FFF;
                font-size: 1.5rem;
                font-weight: bold;
                padding: 1em;
                line-height: 1.45em;
            }
        }
    }
}
.audio {
    position: fixed;
    transform: translateZ(0);
    bottom: 4em;
    right: 1em;
    width: 3em;
    height: 1.5em;
    z-index: 3;
    a {
        display: block;
        width: 100%;
        height: 1.5em;
        border-radius: .25rem;
        &.on {
            background: url(../images/music_off.svg) no-repeat center center rgba(0, 0, 0, .65);
            background-size: 1.25em;
            &:hover, &:focus {
                background: url(../images/music_off.svg) no-repeat center center $aHover;
                background-size: 1.25em;
            }
        }
        &.off {
            background: url(../images/music_on.svg) no-repeat center center rgba(0, 0, 0, .65);
            background-size: 1.25em;
            &:hover, &:focus {
                background: url(../images/music_on.svg) no-repeat center center $aHover;
                background-size: 1.25em;
            }
        }
    }
}
// ripple animation
@keyframes wave {
    0% {
        box-shadow: 0 0 0px 0px rgba(29, 227, 239, 1);
    }
    100% {
        box-shadow: 0 0 0px 15px rgba(29, 227, 239, 0);
    }
}
