.lobby-b {
    background: url(../images/scence-b.jpg) no-repeat bottom center;
    position: relative;
    top: 0;
    left: 50%;
    margin-left: -1506px;
    width: 3012px;
    height: calc(100% - 75px);
    margin-top: 75px;
    position: fixed;
    transform: translateZ(0);
    transition: 1.2s ease-out;
    overflow: hidden;
    @include screen('mobile') {
        margin-top: 0;
    }
    .information_desk {
        position: absolute;
        width: 218px;
        height: 113px;
        left: 50%;
        margin-left: -109px;
        bottom: 71px;
        background: #FFF;
        a {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    .banner {
        position: absolute;
        width: 1100px;
        left: 50%;
        bottom: 48%;
        min-height: 450px;
        margin-left: -550px;
        transform: scale(.9);
        overflow: hidden;
        @media screen and (max-height: 900px) {
            bottom: 48%;
            transform: scale(.8);
        }
        @media screen and (max-height:800px) {
            bottom: 42%;
            transform: scale(.7);
        }
        @media screen and (max-width:1024px) {
            transform: scale(.8);
        }
        .slider {
            position: absolute;
            width: 100%;
            left: 0;
            top: 0;
             @include aspect-ratio(16, 9);
        }
        .slick-list {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 9;
        }
        .slide {
            width: 100%;
            position: absolute;
            @include aspect-ratio(16, 9);
        }
        [class^="item"] {
            width: 33.3333%;
            position: absolute;
            @include aspect-ratio(16, 9);
            background: #111;
            a {
                position: absolute;
                width: 100%;
                height: 100%;
                &:hover,{
                    .caption {
                        top: 0;
                        opacity: 1;
                    }
                }
                img {
                    object-fit: cover;
                }
                .caption {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    align-items: center;
                    background: rgba(0, 0, 0, .75);
                    top: 100%;
                    opacity: 0;
                    transition: .3s $cubic;
                    span {
                        color: #FFF;
                        font-size: 1.5rem;
                        font-weight: bold;
                        padding: 1em;
                        line-height: 1.45em;
                    }
                }
            }
            .iframeBlock {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                iframe {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                }
            }
        }
        &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background: url(../images/line.png) no-repeat center center;
            background-size: contain;
            display: none;
        }
        .item_1 {
            left: 0;
            top: 0;
        }
        .item_2 {
            left: 33%;
            top: -1%;
        }
        .item_3 {
            left: 66%;
            top: 0;
        }
        .item_4 {
            left: 0;
            top: 50%;
        }
        .item_5 {
            left: 33%;
            top: 50%;
        }
        .item_6 {
            left: 66%;
            top: 50%;
        }
        .item_1 {
            /* perspective: 200px; */
            perspective-origin: 50%, 50%;
            transform: scale(.9, .85) perspective(500px) skew(4deg, -16deg) rotateX(7deg) rotateY(-28deg) translateY(22%) translateX(-12%);
        }
        .item_2 {
            perspective-origin: 0%, 0%;
            transform: perspective(400px) scale(1.1, 1) rotateX(-2deg);
        }
        .item_3 {
            perspective-origin: 50%, 50%;
            transform: scale(.9, .85) perspective(500px) skew(-3deg, 16deg) rotateX(7deg) rotateY(28deg) rotateZ(1deg) translateY(22%) translateX(12%);
        }
        .item_4 {
            perspective-origin: 0%, 0%;
            transform: scale(.96, .8) perspective(1000px) skew(5deg, -8deg) rotateX(2deg) rotateY(-35deg) rotateZ(0deg) translateY(11%) translateX(-2%);
        }
        .item_5 {
            perspective-origin: 0%, 0%;
            transform: scale(1, .9) perspective(500px) rotateX(-5deg);
        }
        .item_6 {
            perspective-origin: 0%, 0%;
            transform: scale(.96, .8) perspective(1000px) skew(-5deg, 8deg) rotateX(4deg) rotateY(35deg) rotateZ(-1deg) translateY(11%) translateX(2%);
        }
        .item_1, .item_4 {
            box-shadow: 2px 1px 0px 2px rgba(0, 0, 0, 1);
        }
        .item_2, .item_5 {
            box-shadow: 0px 2px 0px 2px rgba(0, 0, 0, 1);
        }
        .item_3, .item_6 {
            box-shadow: -2px 1px 0px 2px rgba(0, 0, 0, 1);
        }
    }
}
.audio {
    position: fixed;
    transform: translateZ(0);
    bottom: 2.5em;
    right: 1em;
    width: 3em;
    height: 1.5em;
    z-index: 3;
    a {
        display: block;
        width: 100%;
        height: 1.5em;
        border-radius: .25rem;
        &.on {
            background: url(../images/music_off.svg) no-repeat center center rgba(0, 0, 0, .65);
            background-size: 1.25em;
            &:hover, &:focus {
                background: url(../images/music_off.svg) no-repeat center center $aHover;
                background-size: 1.25em;
            }
        }
        &.off {
            background: url(../images/music_on.svg) no-repeat center center rgba(0, 0, 0, .65);
            background-size: 1.25em;
            &:hover, &:focus {
                background: url(../images/music_on.svg) no-repeat center center $aHover;
                background-size: 1.25em;
            }
        }
    }
}
