.lobby-c {
    background: url(../images/scence-c.jpg) no-repeat bottom center;
    position: relative;
    top: 0;
    left: 50%;
    margin-left: -1506px;
    width: 3012px;
    height: calc(100% - 75px);
    margin-top: 75px;
    position: fixed;
    transform: translateZ(0);
    transition: 1.2s ease-out;
    @include screen('mobile') {
        margin-top: 0;
    }
    .information_desk {
        position: absolute;
        width: 190px;
        height: 110px;
        left: 50%;
        margin-left: -95px;
        bottom: 80px;
        background: #FFF;
        a {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    .banner {
        position: absolute;
        width: 824px;
        left: 50%;
        top: 1%;
        margin-left: -412px;
        box-shadow: 0px 2px 0px 3px #222;
        display: flex;
        justify-content: center;
        .slick-prev, .slick-next {
            display: none !important;
        }
        .slider {
            position: absolute;
            width: 100%;
            left: 0;
            top: 0;
             @include aspect-ratio(5, 2);
        }
        .slick-list {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 9;
        }
        .slide {
            width: 100%;
            position: absolute;
            @include aspect-ratio(5, 2);
        }
        [class^="item"] {
            width: 100%;
            margin: 0px auto 0;
            background: #111;
            @include aspect-ratio(5, 2);
            position: relative;
            a {
                position: absolute;
                display: block;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                img {
                    object-fit: cover;
                }
                &:hover{
                    .caption {
                        bottom: 0;
                        opacity: 1;
                    }
                }
            }
            .caption {
                position: absolute;
                width: 100%;
                height: 3em;
                display: flex;
                justify-content: center;
                align-content: center;
                align-items: center;
                background: rgba(0, 0, 0, .5);
                opacity: 0;
                bottom: -3em;
                transition: .3s $cubic;
                span {
                    color: #FFF;
                    font-size: 1.5rem;
                    font-weight: bold;
                    padding: 1em;
                    line-height: 1.45em;
                }
            }
            .iframeBlock {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                iframe {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                }
            }
        }
        &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background: url(../images/line.png) no-repeat center center;
            background-size: contain;
            display: none;
        }
    }
}
.audio {
    position: fixed;
    transform: translateZ(0);
    bottom: 4em;
    right: 1em;
    width: 3em;
    height: 1.5em;
    z-index: 3;
    a {
        display: block;
        width: 100%;
        height: 1.5em;
        border-radius: .25rem;
        &.on {
            background: url(../images/music_off.svg) no-repeat center center rgba(0, 0, 0, .65);
            background-size: 1.25em;
            &:hover, &:focus {
                background: url(../images/music_off.svg) no-repeat center center $aHover;
                background-size: 1.25em;
            }
        }
        &.off {
            background: url(../images/music_on.svg) no-repeat center center rgba(0, 0, 0, .65);
            background-size: 1.25em;
            &:hover, &:focus {
                background: url(../images/music_on.svg) no-repeat center center $aHover;
                background-size: 1.25em;
            }
        }
    }
}
